<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- Weld üzenetek kikapcsolása -->
    <logger name="org.jboss.weld" level="WARN"/>
    <logger name="org.jboss.weld.Interceptor" level="ERROR"/>

    <logger name="nav.gov.hu.commons.lib.jpa.jru.JpaSessionEventAdapter" level="WARN"/>

    <!-- RollingFile appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">


        <!--/ou01/app/oracle/log-->
        <file>/ou01/app/oracle/log/${project.artifactId}/${project.artifactId}-${weblogic.Name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- Napi logváltás -->
            <fileNamePattern>/ou01/app/oracle/log/${project.artifactId}/${project.artifactId}-${weblogic.Name}-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 10 napot örzünk meg -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{HH:mm:ss.SSS, Europe/Budapest} %-5level %logger{30}.%M \(%file:%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS, Europe/Budapest} %-5level %logger{30}.%M\(%file:%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="Warn">
        <appender-ref ref="RollingFile"/>
    </root>

    <!-- Amennyiben az állomány létezik, úgy a benne lévő appender és level szintek felülírják a fenti értékeket -->
    <include optional="true" file="${bef.logback.configuration.folder}/logback_${project.artifactId}.xml"/>

</configuration>