/*
 ------------------------------------------------------------------------------------

 KEK - project

 Module:  kek-ui (kek-ui)
 File:    growl-message-extender.css
 Created: 2019.08.15. 7:27:59

 ------------------------------------------------------------------------------------
*/
/*
    Created on : 2019.08.15., 7:27:59
    Author     : u626374
*/

.ui-growl {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: auto;
}


.ui-growl-message {
    padding: 0 0 5px 0;
    width: 100%;
    float: left;
}